.center_login{padding-top:15%;padding-left:20%}.inputLoginEmail{width:50%}.inputLoginPassword{width:50%}.fullwidth{width:100%;min-height:500px;overflow:hidden}.left{float:left;margin-top:10px}.right{float:right}.login_form{width:13%}