//- {{userData}}
.container(style="min-height: 700px;")
    .head-logo
        h1 University Event Detail
    .content.navbar-default(style="margin-top: 50px;")
        form.form-horizontal(role="form" enctype="multipart/form-data")
        .form-group
          label.col-sm-2.control-label Select University
          .col-lg-3
            select.form-control#sel1(ng-model='activity.university' placeholder="Select University")
                option(ng-repeat="university in universityList" id="university._id" value="{{university._id}}") {{university.name}}
        .form-group
          label.col-sm-2.control-label Select Event
          .col-lg-3
            select.form-control#sel1(ng-model='activity.events' placeholder="Select Event")
                option(ng-repeat="event in eventList" id="event._id" value="{{event._id}}") {{event.name}}
        .form-group 
            .col-sm-2
                input.btn.btn-primary(type="button" value='Filter' ng-click='getEvents()')
    table.table(style="margin-top: 100px;")
      thead
        tr
          th University
          th Events
          th Participants
          th Start Date
          th End Date
      tbody
        tr.info(ng-repeat="item in activities.response")
          td {{item.university.name}}
          td {{item.events.name}}
          td 
            span(ng-repeat="participant in item.participants") {{participant.name}}
          td {{item.startDate}}
          td {{item.endDate}}
         
