table.table
  thead
    tr
      th University
      th Events
      th Participants
      th Start Date
      th End Date
      th Edit
  tbody
    tr.info(ng-repeat="item in activityList.response")
      td {{item.university.name}}
      td {{item.events.name}}
      td 
        span(ng-repeat="participant in item.participants") {{participant.name}}
      td {{item.startDate}}
      td {{item.endDate}}
      td
        a
          i.fa.fa-pencil-square-o(ng-click="getItem(item._id)")
pagination.pagination-sm(total-items="activityList.totalItems" ng-model="activityList.page" max-size="activityList.perPage" boundary-links="true" rotate="false" num-pages=5)
