.modal-header
   form.form-horizontal(ng-submit='chngepwd()')
    h3.chngePwdStyl(class="modal-title") Change Password
    //- .modal-body
    .form-group
      label.col-sm-4.control-label(for="inputCrntPwd3") Current Password:
      .col-sm-6
        input.form-control(type='Password' value='Current Password' ng-model='pwd.currentPassword' placeholder="Current Password" required)
    .form-group
      label.col-sm-4.control-label(for="inputNewPwd3") New Password:
      .col-sm-6
        input.form-control(type='Password' value='Change Password' ng-model='pwd.newPassword' placeholder="New Password" required)
    .form-group
      label.col-sm-4.control-label(for="inputVrfyPwd3") Verify Password:
      .col-sm-6
        input.form-control(type='Password' value='Verify Password' ng-model='pwd.verifyPassword' placeholder="Verify Password" required)
    .form-group
      .col-sm-2.chngePwdStyl
        input.form-control(type = 'submit',value='Submit',class="btn btn-primary")