div
  .center
    h1 Create Event
  form.form-horizontal(role="form" enctype="multipart/form-data" ng-submit='saveEvent()')
    .form-group
      label.col-lg-2.control-label(for="inputCode") University Name:
      .col-lg-4
        input.form-control.medInput#inputCode(type="textbox" placeholder='Enter University' ng-model='Event.university' required='')
    .form-group   
      label.col-lg-2.control-label(for="inputCode") Event Name:
      .col-lg-4
        input.form-control.medInput#inputCode(type="textbox" placeholder='Event Name' ng-model='Event.name' required='')
    .form-group
      label.col-lg-2.control-label(for="inputDesc") Description:
      .col-lg-4
        textarea.form-control.medInput#inputDesc(placeholder='Enter Description' ng-model='Event.description' cols="10" rows="5")
    .form-group
      label.col-sm-2.control-label(for="inputDate") Start Date:
      .col-sm-4
        input.form-control.inputBox(type="date" ng-model='Event.startime')
    .form-group
      label.col-sm-2.control-label(for="inputDate") End Date:
      .col-sm-4
        input.form-control.inputBox(type="date" ng-model='Event.endtime')
    .form-group
      label.col-sm-2.control-label(for="inputState") Location:
      .col-lg-4
        input.form-control.medInput#inputCode(type="textbox" placeholder='Event location' ng-model='Event.location' required='')
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type="submit" value='Save') Save
