div
  .center
    h1 Create University
  form.form-horizontal(role="form" enctype="multipart/form-data" ng-submit='saveUniversity()')
    .form-group   
      label.col-lg-2.control-label(for="inputCode") University Name:
      .col-lg-4
        input.form-control.medInput#inputCode(type="textbox" placeholder='University Name' ng-model='university.name' required='')
    .form-group
      label.col-lg-2.control-label(for="inputDesc") Description:
      .col-lg-4
        textarea.form-control.medInput#inputDesc(placeholder='Enter Description' ng-model='university.description' cols="10" rows="5")
    .form-group
    .form-group
      label.col-sm-2.control-label(for="inputState") Location:
      .col-lg-4
        input.form-control.medInput#inputCode(type="textbox" placeholder='University location' ng-model='university.location' required='')
    .form-group
      label.col-sm-2.control-label Events
      .col-lg-4
        select.form-control#sel1(ng-model='university.events' multiple="multiple")
            option(ng-repeat="event in eventList" id="event._id" value="{{event._id}}") {{event.name}}
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type="submit" value='Save') Save
