div
  .center
    h1 Create Activity
  form.form-horizontal(role="form" enctype="multipart/form-data" ng-submit='saveActivity()')
    .form-group
      label.col-lg-2.control-label(for="inputUniversity") University:
      .col-lg-4
        select.form-control#sel1(ng-model='activity.university')
            option(ng-repeat="institute in universityList" id="institute._id" value="{{institute._id}}") {{institute.name}}
    .form-group   
      label.col-lg-2.control-label(for="inputEvent") Event:
      .col-lg-4
        select.form-control#sel1(ng-model='activity.events')
            option(ng-repeat="event in eventList" id="event._id" value="{{event._id}}") {{event.name}}
    .form-group
      label.col-lg-2.control-label(for="inputParticipants") Participants:
      .col-lg-4
        select.form-control#sel1(ng-model='activity.participants' multiple="multiple")
            option(ng-repeat="participant in participantList" id="participant._id" value="{{participant._id}}") {{participant.name}}
    .form-group
      label.col-sm-2.control-label(for="inputDate") Start Date:
      .col-sm-4
        input.form-control.inputBox(type="date" ng-model='activity.startDate')
    .form-group
      label.col-sm-2.control-label(for="inputDate") End Date:
      .col-sm-4
        input.form-control.inputBox(type="date" ng-model='activity.endDate')
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type="submit" value='Save') Save
