div
  .center
    h1 Create Participant
  form.form-horizontal(role="form" enctype="multipart/form-data" ng-submit='saveParticipant()')
    .form-group
      label.col-lg-2.control-label(for="inputCode") Name:
      .col-lg-4
        input.form-control.medInput#inputCode(type="textbox" placeholder='Enter Name' ng-model='participants.name' required='')
    .form-group 
      label.col-lg-2.control-label(for="inputCode") Institute:
      .col-lg-4
        select.form-control#sel1(ng-model='participants.institute')
            option(ng-repeat="institute in universityList" id="institute._id" value="{{institute._id}}") {{institute.name}}
    .form-group
      label.col-sm-2.control-label Age:
      .col-lg-4
        input.form-control.medInput#inputCode(type="number" placeholder='Enter age' min="0" ng-model='participants.age')
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type="submit" value='Save') Save
