.container.homepage
	h2 Homepage
	hr

	form.form-horizontal
		.form-group
			label.col-sm-2.control-label Type
			.col-sm-10
				select.form-control(ng-model='segment' placeholder='Select a type' ng-options='segment as segment for segment in segments')

				//- ui-select(ng-model='segment' theme="select2" style='width: 100%')
				//- 	ui-select-match(placeholder='Select a type')
				//- 		| {{$select.selected}}
				//- 	ui-select-choices(repeat='segment in segments')
				//- 		| {{segment}}

		.form-group
			label.col-sm-2.control-label Search
			.col-sm-10
				input.form-control(type='text' placeholder='Search' ng-model="searchtext")
		.form-group
			.col-sm-offset-2.col-sm-10
				button.btn.btn-default(ng-click='update()') Find	
				button.btn.btn-default(ng-click='save()') Save	
	
	.row
		.col-md-4.source
			.panel.panel-default
				.panel-heading
					| Orders
				.panel-body
					.values
						div(btf-dragon='newsletter in newsletters')
							.value
								| {{newsletter.code}} 	
				
		.boxes
			.box.col-md-4(ng-repeat='segment in homepage.segments')
				.panel.panel-default
					.panel-heading
						| {{segment.name}}
					.panel-body()
						div.droppable(btf-dragon='value in segment.newsletters' style='' limit='3')
							.value
								| {{value.code}}

