table.table
  thead
    tr
      th University
      th Name
      th Location
      th Start Date
      th End Date
      th Edit
  tbody
    tr.info(ng-repeat="item in eventList.response")
      td {{item.university}}
      td {{item.name}}
      td {{item.location}}
      td {{item.startime}}
      td {{item.endtime}}
      td
        a
          i.fa.fa-pencil-square-o(ng-click="getItem(item._id)")
pagination.pagination-sm(total-items="eventList.totalItems" ng-model="eventList.page" max-size="eventList.perPage" boundary-links="true" rotate="false" num-pages=5)
