form.form-horizontal.center_login(role="form" ng-submit='login()')
  .form-group
    label.col-sm-2.control-label(for="inputEmail3") Email
    .col-sm-10
      input.form-control#inputEmail3.inputLoginEmail(type="email" placeholder="Email" ng-model='user.email')
  .form-group
    label.col-sm-2.control-label(for="inputPassword3") Password
    .col-sm-10
      input.form-control#inputPassword3.inputLoginPassword(type="password" placeholder="Password" ng-model='user.password')
  //- .form-group
  //-   .col-sm-offset-2.col-sm-10
  //-     span
  //-       .checkbox
  //-         label
  //-           input(type="checkbox")
  //-           label Remember me
  //-         span
  //-           &nbsp &nbsp &nbsp &nbsp &nbsp
  //-           a(ng-click="open()")
  //-             |Forgot password?
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-default(type="submit") Sign in