table.table
  thead
    tr
      th Name
      th Institute
      th Age
      th Edit
  tbody
    tr.info(ng-repeat="item in participantList.response")
      td {{item.name}}
      td {{item.institute.name}}
      td {{item.age}}
      td
        a
          i.fa.fa-pencil-square-o(ng-click="getItem(item._id)")
pagination.pagination-sm(total-items="participantList.totalItems" ng-model="participantList.page" max-size="participantList.perPage" boundary-links="true" rotate="false" num-pages=5)
