body(style='opacity: 1; margin-left: 0px;')
  div(growl)
  // Fixed navbar
  #head-nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          a.navbar-brand(href='/')
            span University Event  
        .navbar-collapse.collapse 
          ul.nav.navbar-nav.navbar-right.user-nav
            li.dropdown.profile_menu 
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span {{name}}
                //- img(alt='Avatar', src='./Clean Zone_files/avatar2.jpg')
                |  
                b.fa.fa-gear
              |         
              ul.dropdown-menu
                //- li
                //-   a(href='http://foxythemes.net/cleanzone2/#') My Account
                //- |           
                //- li
                //-   a(href='http://foxythemes.net/cleanzone2/#') Profile
                //- |           
                //- li
                //-   a(href='http://foxythemes.net/cleanzone2/#') Messages
                //- |           
                //- li.divider
                |           
                span {{req.user.name}}          
                .fa.fa-cog        
              ul.dropdown-menu         
                //- li
                //-   a(href='' ng-click='changePassword()') Change Password
                li.fa.fa-gear
                 a(href='' ng-click='logout()') Sign Out
  #cl-wrapper.fixed-menu
    .cl-sidebar(data-position='right')  
      .cl-toggle
        i.fa.fa-bars
      | &#x9;&#x9;&#x9;
      .cl-navblock
        .menu-space.nano.nscroller(style='height: 302px;')
          .content(tabindex='0')
            ul.cl-vnavigation
              li.parent
                a()
                  i.fa.fa-newspaper-o
                  span Event
                |                 
                ul.sub-menu(style='display: none;')
                  li(ui-sref-active='active')
                    a(ui-sref='adminhome.list') List
                  |                   
                  li(ui-sref-active='active')
                    a(ui-sref='adminhome.create')
                      //- span.label.label-primary.pull-right New
                      |  Create
            ul.cl-vnavigation
              li.parent
                a()
                  i.fa.fa-newspaper-o
                  span University
                |                 
                ul.sub-menu(style='display: none;')
                  li(ui-sref-active='active')
                    a(ui-sref='university.list') List
                  |                   
                  li(ui-sref-active='active')
                    a(ui-sref='university.create')
                      //- span.label.label-primary.pull-right New
                      |  Create
            ul.cl-vnavigation
              li.parent
                a()
                  i.fa.fa-newspaper-o
                  span Participant
                |                 
                ul.sub-menu(style='display: none;')
                  li(ui-sref-active='active')
                    a(ui-sref='participants.list') List
                  |                   
                  li(ui-sref-active='active')
                    a(ui-sref='participants.create')
                      //- span.label.label-primary.pull-right New
                      |  Create
            ul.cl-vnavigation
              li.parent
                a()
                  i.fa.fa-newspaper-o
                  span Activity
                |                 
                ul.sub-menu(style='display: none;')
                  li(ui-sref-active='active')
                    a(ui-sref='activity.list') List
                  |                   
                  li(ui-sref-active='active')
                    a(ui-sref='activity.create')
                      //- span.label.label-primary.pull-right New
                      |  Create

          .pane(style='display: block;')
            .slider(style='height: 177px; top: 0px;')
        |         
        .text-right.collapse-button(style='padding:7px 9px;')
          //- input.form-control.search(type='text', placeholder='Search...')
          |           
          button#sidebar-collapse.btn.btn-default(style='')
            i.fa.fa-angle-left(style='color:#fff;')
    | &#x9;
    | &#x9;&#x9;
    #pcont.container-fluid
      div(ui-view="AdminView")
  // Bootstrap core JavaScript
  // Placed at the end of the document so the pages load faster
  script(type='text/javascript').
    $(document).ready(function(){
    //initialize the javascript
    App.init({
    nanoScroller: false
    });
    App.dashBoard();
    introJs().setOption('showBullets', false).start();
    });
