table.table
  thead
    tr
      th Name
      th Description
      th Location
      th Edit
  tbody
    tr.info(ng-repeat="item in universityList.response")
      td {{item.name}}
      td {{item.description}}
      td {{item.location}}
      td
        a
          i.fa.fa-pencil-square-o(ng-click="getItem(item._id)")
pagination.pagination-sm(total-items="universityList.totalItems" ng-model="universityList.page" max-size="universityList.perPage" boundary-links="true" rotate="false" num-pages=5)
